body {
    font-family: all-round-gothic,sans-serif;
font-weight: 400;
font-style: normal;
  }
  
  .container {
    padding: 2rem;
  }
  


  h1 {
    font-weight: normal;
    font-size: 2rem;
    margin: 0;
    color:orangered;
  }

  h2{
    font-weight: normal;
    font-size:1.2rem;
  }

  p{
    font-weight: normal;
    font-size:1rem;
  }



  .title{
      font-size:4rem;
      max-width:100%;
      width: 30%;
      margin-top:5%;
      margin-left:2%;
      text-align: justify;
  text-justify: inter-word;
  }

  .filterby{
     position:absolute; 
     top:40%;
    font-size: 2rem;
    border-radius:30px;
    padding:0.5rem;
    margin-top:1.5rem;
    max-width:100%;
    color: orangered;
  }

  .filter { 
    position:absolute; 
     top:50%;  
    padding: 2rem;
    border-radius:30px;
    font-size:1.5rem;
  }

  .red{
      border:1px solid black;
      border-radius:30px;
      padding:0.5rem;
      margin-top:1.5rem;
      max-width:100%;
  }

  .red:hover{
      font-size: 2rem;
      border:2px solid red;
  }

  

  .orange{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.orange:hover{
    font-size: 2rem;
    border:2px solid orange;
}
  
.yellow{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.yellow:hover{
    font-size: 2rem;
    border:2px solid yellow;
}

.green{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.green:hover{
    font-size: 2rem;
    border:2px solid green;
}

.blue{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.blue:hover{
    font-size: 2rem;
    border:2px solid blue;
}

.purple{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.purple:hover{
    font-size: 2rem;
    border:2px solid purple;
}

.pink{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.pink:hover{
    font-size: 2rem;
    border:2px solid pink;
}

.brown{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.brown:hover{
    font-size: 2rem;
    border:2px solid brown;
}

.black{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.black:hover{
    font-size: 2rem;
    border:2px solid black;
}

.cream{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.cream:hover{
    font-size: 2rem;
    border:2px solid wheat;
}

.grey{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.grey:hover{
    font-size: 2rem;
    border:2px solid grey;
}

.white{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.white:hover{
    font-size: 2rem;
    border:2px solid white;
}
.metallic{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.metallic:hover{
    font-size: 2rem;
    border:2px solid goldenrod;
}
.wood{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.wood:hover{
    font-size: 2rem;
    border:2px solid burlywood;
}
.glass{
    border:1px solid black;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
}

.glass:hover{
    font-size: 2rem;
    border:2px solid teal;
}









.reset{
    border:1px solid black;
    background-color: black;
    color:white;
    border-radius:30px;
    padding:0.5rem;
    margin-top:2rem;
    max-width:100%;
 }

 .reset:hover{
    font-size: 2rem;

}


.name{

}




    .main-container{
        position:absolute;
        top:70%;
        padding:1rem;
        display:grid;
        grid-gap:2rem;
        grid-template-columns: 0.5fr 2fr ;
      }
    
      .filter-menu{  
        border: 1px solid black;
        border-radius:25px;
        padding: 1rem;
        align-content:center;


      }


    .grid-section{   
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  
  .furniture-container {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid white;
    flex-basis: 33%;
  }
  
  .furniture-image {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  .modal-container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
  }
  
  .modal-box {
    box-sizing: border-box;
    background: white;
    overflow-x: scroll;
    position: relative;
    height: auto;
    max-width: 600px;
    padding: 2rem;
  }
  
  .modal-image {
      width: 200px;
      height: auto;
  }
  
  .modal-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  .modal-is-active .modal-container {
    display: flex;
  }
  
a:link{
    text-decoration: none;
    color:black;
    font-size:2rem;
}

a:hover{
    color:orangered;
    font-size:2.5rem;
}

a:visited{
    color:none;
}

.searchby{
    position:absolute; 
   font-size: 2rem;
   max-width:100%;
   color: orangered;
 }

.color{
    color:orangered;
    position:absolute;

    font-size:2rem;
}



.type{
    position:absolute;
    font-size:2rem;
    
}
  

.time{
    position:absolute;
    font-size:2rem;
}
  